body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ccc;
}

h1, h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.page {
  width: 1200px;
  margin: 0 auto 250px auto;
  color: #000;
}